.Projects-Menu {
}

.card-margin {
  margin-top: 1rem;
  margin-left:1rem;
  min-width: 15rem;
}

.card-style {
  background-color: #333;
  border-color: #333;
}

.row-margin {
   margin-bottom: 1rem;
}
