.Skills {
  text-align: center;
  background-color: white;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  
}


.Skills-Data {
  background-color: blueviolet;
  color: white;
  position: relative
}